<div class="dashboard-wrapper">
    <app-sidebar></app-sidebar>

    <div class="home-page">
        <div class="casino-tabs">
            <button class="casino-btn red">OUR CASINO</button>
            <button class="casino-btn orange">INT CASINO</button>
            <button class="casino-btn yellow">SPORTS BOOK</button>
            </div>
            <div class="race-section">
            <div class="race-title">NEXT HORSE RACING</div>
            <div class="race-timers">
                <div class="race-flag">
                <img src="https://flagcdn.com/h40/gb.png" alt="UK"> 04:20 PM
                </div>
                <div class="race-flag">
                <img src="https://flagcdn.com/h40/au.png" alt="AUS"> 04:30 PM
                </div>
                <div class="race-flag">
                <img src="https://flagcdn.com/h40/gb.png" alt="UK"> 04:45 PM
                </div>
                <div class="race-flag">
                <img src="https://flagcdn.com/h40/gb.png" alt="UK"> 05:20 PM
                </div>
                <div class="race-flag">
                <img src="https://flagcdn.com/h40/au.png" alt="AUS"> 05:30 PM
                </div>
                <div class="race-flag">
                <img src="https://flagcdn.com/h40/gb.png" alt="UK"> 05:45 PM
                </div>
                <div class="race-flag">
                <img src="https://flagcdn.com/h40/gb.png" alt="UK"> 03:20 PM
                </div>
                <div class="race-flag">
                <img src="https://flagcdn.com/h40/au.png" alt="AUS"> 01:30 PM
                </div>
                <div class="race-flag">
                <img src="https://flagcdn.com/h40/gb.png" alt="UK"> 02:45 PM
                </div>
                <div class="race-flag">
                <img src="https://flagcdn.com/h40/gb.png" alt="UK"> 08:45 PM
                </div>
                <div class="race-flag">
                <img src="https://flagcdn.com/h40/gb.png" alt="UK"> 08:20 PM
                </div>
                <div class="race-flag">
                <img src="https://flagcdn.com/h40/au.png" alt="AUS"> 07:30 PM
                </div>
                <div class="race-flag">
                <img src="https://flagcdn.com/h40/gb.png" alt="UK"> 09:45 PM
                </div>
            </div>

            <div class="race-title">NEXT GREYHOUND RACING</div>
            <div class="race-timers">
                <div class="race-flag">
                <img src="https://flagcdn.com/h40/au.png" alt="AUS"> 05:00 PM
                </div>
                <div class="race-flag">
                <img src="https://flagcdn.com/h40/gb.png" alt="UK"> 05:15 PM
                </div>
                <div class="race-flag">
                <img src="https://flagcdn.com/h40/au.png" alt="AUS"> 05:30 PM
                </div>
                <div class="race-flag">
                <img src="https://flagcdn.com/h40/au.png" alt="AUS"> 06:00 PM
                </div>
                <div class="race-flag">
                <img src="https://flagcdn.com/h40/gb.png" alt="UK"> 06:15 PM
                </div>
                <div class="race-flag">
                <img src="https://flagcdn.com/h40/au.png" alt="AUS"> 06:30 PM
                </div>
                <div class="race-flag">
                <img src="https://flagcdn.com/h40/au.png" alt="AUS"> 07:00 PM
                </div>
                <div class="race-flag">
                <img src="https://flagcdn.com/h40/gb.png" alt="UK"> 07:15 PM
                </div>
                <div class="race-flag">
                <img src="https://flagcdn.com/h40/au.png" alt="AUS"> 07:30 PM
                </div>
                <div class="race-flag">
                <img src="https://flagcdn.com/h40/au.png" alt="AUS"> 07:00 PM
                </div>
                <div class="race-flag">
                <img src="assetshttps://flagcdn.com/h40/gb.png" alt="UK"> 08:15 PM
                </div>
                <div class="race-flag">
                <img src="https://flagcdn.com/h40/au.png" alt="AUS"> 08:30 PM
                </div>
                <div class="race-flag">
                <img src="https://flagcdn.com/h40/au.png" alt="AUS"> 08:00 PM
                </div>
                <div class="race-flag">
                <img src="assetshttps://flagcdn.com/h40/gb.png" alt="UK"> 00:15 PM
                </div>
                <div class="race-flag">
                <img src="https://flagcdn.com/h40/au.png" alt="AUS"> 00:30 PM
                </div>
            </div>
            </div>
            <div class="sports-section">
            <div class="sports-header">🏏 CRICKET</div>
            <div class="match-card">
                <div class="match-info">
                    <div class="match-title">Indian Premier League</div>
                        <div class="match-detail">
                            <span class="live-badge">LIVE</span>
                            <span>Hobart Hurricanes SRL v Melbourne Stars SRL</span>
                            <div class="odds-grid">
                            <div class="odds blue">8.75</div>
                            <div class="odds">-</div>
                            <div class="odds pink">1.05</div>
                            </div>
                        </div>
                </div>
                <div class="match-info">
                    <div class="match-title">Bangldesh Premier League</div>
                        <div class="match-detail">
                            <span class="live-badge">LIVE</span>
                            <span>Hobart Hurricanes SRL v Melbourne Stars SRL</span>
                            <div class="odds-grid">
                            <div class="odds blue">8.75</div>
                            <div class="odds">-</div>
                            <div class="odds pink">1.05</div>
                            </div>
                        </div>
                </div>
                <div class="match-info">
                    <div class="match-title">Pakistan Premier League</div>
                        <div class="match-detail">
                            <span class="live-badge">LIVE</span>
                            <span>Hobart Hurricanes SRL v Melbourne Stars SRL</span>
                            <div class="odds-grid">
                            <div class="odds blue">8.75</div>
                            <div class="odds">-</div>
                            <div class="odds pink">1.05</div>
                            </div>
                        </div>
                </div>
                <div class="match-info">
                    <div class="match-title">Hassan Premier League</div>
                        <div class="match-detail">
                            <span class="live-badge">LIVE</span>
                            <span>Hobart Hurricanes SRL v Melbourne Stars SRL</span>
                            <div class="odds-grid">
                            <div class="odds blue">8.75</div>
                            <div class="odds">-</div>
                            <div class="odds pink">1.05</div>
                            </div>
                        </div>
                </div>
            </div>

            <div class="sports-header">⚽ FOOTBALL</div>
            <div class="match-card">
                <div class="match-info">
                    <div class="match-title">Alur Champions League</div>
                        <div class="match-detail">
                            <span class="live-badge">LIVE</span>
                            <span>South Korea v Jordan</span>
                            <div class="odds-grid">
                            <div class="odds blue">1.18</div>
                            <div class="odds">1.19</div>
                            <div class="odds pink">8.2</div>
                            </div>
                        </div>
                </div>
                <div class="match-info">
                    <div class="match-title">Marasu Champions League</div>
                        <div class="match-detail">
                            <span class="live-badge">LIVE</span>
                            <span>South Korea v Jordan</span>
                            <div class="odds-grid">
                            <div class="odds blue">1.18</div>
                            <div class="odds">1.19</div>
                            <div class="odds pink">8.2</div>
                            </div>
                        </div>
                </div>
                <div class="match-info">
                    <div class="match-title">KM Champions League</div>
                        <div class="match-detail">
                            <span class="live-badge">LIVE</span>
                            <span>South Korea v Jordan</span>
                            <div class="odds-grid">
                            <div class="odds blue">1.18</div>
                            <div class="odds">1.19</div>
                            <div class="odds pink">8.2</div>
                            </div>
                        </div>
                </div>
                <div class="match-info">
                    <div class="match-title">BMC Champions League</div>
                        <div class="match-detail">
                            <span class="live-badge">LIVE</span>
                            <span>South Korea v Jordan</span>
                            <div class="odds-grid">
                            <div class="odds blue">1.18</div>
                            <div class="odds">1.19</div>
                            <div class="odds pink">8.2</div>
                            </div>
                        </div>
                </div>
                <div class="match-info">
                    <div class="match-title">KFC Champions League</div>
                        <div class="match-detail">
                            <span class="live-badge">LIVE</span>
                            <span>South Korea v Jordan</span>
                            <div class="odds-grid">
                            <div class="odds blue">1.18</div>
                            <div class="odds">1.19</div>
                            <div class="odds pink">8.2</div>
                            </div>
                        </div>
                </div>
            </div>

            <div class="sports-header">🎾 TENNIS</div>
            <div class="match-card">
                <div class="match-info">
                    <div class="match-title">ATP Miami 2025</div>
                        <div class="match-detail">
                            <span class="live-badge">LIVE</span>
                            <span>WTA Miami 2025</span>
                            <div class="odds-grid">
                            <div class="odds blue">1.25</div>
                            <div class="odds">1.27</div>
                            <div class="odds pink">-</div>
                            </div>
                        </div>
                </div>
                <div class="match-info">
                    <div class="match-title">BTP Miami 2025</div>
                        <div class="match-detail">
                            <span class="live-badge">LIVE</span>
                            <span>WTA Miami 2025</span>
                            <div class="odds-grid">
                            <div class="odds blue">1.25</div>
                            <div class="odds">1.27</div>
                            <div class="odds pink">-</div>
                            </div>
                        </div>
                </div>
                <div class="match-info">
                    <div class="match-title">ATP Miami 2025</div>
                        <div class="match-detail">
                            <span class="live-badge">LIVE</span>
                            <span>CTP Miami 2025</span>
                            <div class="odds-grid">
                            <div class="odds blue">1.25</div>
                            <div class="odds">1.27</div>
                            <div class="odds pink">-</div>
                            </div>
                        </div>
                </div>
                <div class="match-info">
                    <div class="match-title">ATP Miami 2025</div>
                        <div class="match-detail">
                            <span class="live-badge">LIVE</span>
                            <span>GTU Miami 2025</span>
                            <div class="odds-grid">
                            <div class="odds blue">1.25</div>
                            <div class="odds">1.27</div>
                            <div class="odds pink">-</div>
                            </div>
                        </div>
                </div>
                <div class="match-info">
                    <div class="match-title">ATP Miami 2025</div>
                        <div class="match-detail">
                            <span class="live-badge">LIVE</span>
                            <span>FTU Miami 2025</span>
                            <div class="odds-grid">
                            <div class="odds blue">1.25</div>
                            <div class="odds">1.27</div>
                            <div class="odds pink">-</div>
                            </div>
                        </div>
                </div>
                <div class="match-info">
                    <div class="match-title">ATP Miami 2025</div>
                        <div class="match-detail">
                            <span class="live-badge">LIVE</span>
                            <span>MTU Miami 2025</span>
                            <div class="odds-grid">
                            <div class="odds blue">1.25</div>
                            <div class="odds">1.27</div>
                            <div class="odds pink">-</div>
                            </div>
                        </div>
                </div>
                <div class="match-info">
                    <div class="match-title">ATP Miami 2025</div>
                        <div class="match-detail">
                            <span class="live-badge">LIVE</span>
                            <span>TYU Miami 2025</span>
                            <div class="odds-grid">
                            <div class="odds blue">1.25</div>
                            <div class="odds">1.27</div>
                            <div class="odds pink">-</div>
                            </div>
                        </div>
                </div>
            </div>
            </div>
    </div>

    <section class="all-providers" style="    margin-left: 237px;">
      <div class="container">

        <div class="row align-items-center">
          <div class="col-lg-2 col-6">
            <img
              src="https://tezcdn.io/casino/casino-provider-500*299/mac88.webp"
              class="img-fluid"
              alt="Mac88 Provider"
            />
          </div>
          <div class="col-lg-2 col-6">
            <img
              src="https://tezcdn.io/casino/casino-provider-500*299/mac88virtualgame.webp"
              class="img-fluid"
              alt="Mac88 Virtual Game Provider"
            />
          </div>
          <div class="col-lg-2 col-6">
            <img
              src="https://tezcdn.io/casino/casino-provider-500*299/aesexy.webp"
              class="img-fluid"
              alt="AESexy Provider"
            />
          </div>
          <div class="col-lg-2 col-6">
            <img
              src="https://tezcdn.io/casino/casino-provider-500*299/betgames.webp"
              class="img-fluid"
              alt="Betgames Provider"
            />
          </div>
          <div class="col-lg-2 col-6">
            <img
              src="https://tezcdn.io/casino/casino-provider-500*299/bombaylive.webp"
              class="img-fluid"
              alt="Bombay Live Provider"
            />
          </div>
          <div class="col-lg-2 col-6">
            <img
              src="https://tezcdn.io/casino/casino-provider-500*299/evolution.webp"
              class="img-fluid"
              alt="Evolution Provider"
            />
          </div>
          <div class="col-lg-2 col-6">
            <img
              src="https://tezcdn.io/casino/casino-provider-500*299/ezugi.webp"
              class="img-fluid"
              alt="Ezugi Provider"
            />
          </div>
          <div class="col-lg-2 col-6">
            <img
              src="https://tezcdn.io/casino/casino-provider-500*299/gamzix.webp"
              class="img-fluid"
              alt="Gamzix Provider"
            />
          </div>
          <div class="col-lg-2 col-6">
            <img
              src="https://tezcdn.io/casino/casino-provider-500*299/jili.webp"
              class="img-fluid"
              alt="Jili Provider"
            />
          </div>
          <div class="col-lg-2 col-6">
            <img
              src="https://tezcdn.io/casino/casino-provider-500*299/spribe.webp"
              class="img-fluid"
              alt="Spribe Provider"
            />
          </div>
        </div>
      </div>
    </section>




</div>